@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: orangered;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .2);
}

.dark-mode {
    --bg-color: #212121;
    --text-color: #fdfdfd;
    --shadow-color: rgba(0, 0, 0, .7);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 7%;
    background: transparent;
    display: flex;
    align-items: center;
    z-index: 100;
    transition: .5s;
}

.header.sticky {
    background: var(--bg-color);
    box-shadow: 0 .1rem 1rem var(--shadow-color);
}

#logo {
    font-size: 2.5rem;
    color: var(--main-color);
    font-weight: 600;
    font-family: "SecondFont";
    cursor: default;
    margin-right: auto;
    
}

.navbar a {
    position: relative;
    font-family: FirstFont;
    font-size: 1.9rem;
    color: var(--white-color);
    font-weight: 500;
    margin-right: 25px;
}

@font-face {
    font-family: "FirstFont";
    src: url(./fonts/led_counter-7.ttf);
}

.header.sticky .navbar a {
    color: var(--text-color);
}

.header.sticky .navbar a.active {
    color: var(--main-color);
}

.navbar a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

.header.sticky .navbar a::before {
    background: var(--main-color);
    opacity: .7;
}

#darkMode-icon {
    font-size: 2.4rem;
    color: var(--white-color);
    margin-right: -47px;
    cursor: pointer;
}

.header.sticky #darkMode-icon {
    color: var(--text-color);
    margin-left: 20px;
    opacity: .9;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

.home {
    display: flex;
    align-items: center;
}

.home .home-content {
    max-width: 44rem;
}

.home-content h3 {
    font-family: SecondFont;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: .3;
}

@font-face {
    font-family: "SecondFont";
    src: url(./fonts/serif_led_board-7.ttf);
}

.home-content h1 {
    font-family: ThirdFont;
    font-size: 6.8rem;
    font-weight: 700;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

@font-face {
    font-family: "ThirdFont";
    src: url(./fonts/enhanced_dot_digital-7.ttf);
}

.home-content p {
    font-family: FirstFont;
    font-size: 1.8rem;
}

.home-content .social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 2rem;
    color: var(--main-color);
    margin: 2.5rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.home-content .social-media a:hover {
    background: var(--main-color);
    color: var(--white-color);
}

.btn {
    display: inline-block;
    padding: 1.2rem 2.8rem;
    background: var(--main-color);
    border-radius: .6rem;
    box-shadow: 0 .2rem .5rem var(--shadow-color);
    font-size: 1.6rem;
    font-family: ThirdFont;
    color: var(--white-color);
    letter-spacing: .1rem;
    font-weight: 600;
    border: .2rem solid transparent;
    transition: .5s ease;
}

.btn:hover {
    background: transparent;
    color: var(--main-color);
    border-color: var(--main-color);
}

.home .profession-container {
    position: absolute;
    top: 49%;
    right: 0;
    transform: translateY(-50%);
    width: 800px;
    height: 800px;
    overflow: hidden;
    pointer-events: none;
}

.home .profession-container .profession-box {
    position: absolute;
    top: 0;
    right: 0;
    width: 800px;
    height: 800px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: professionRotate 13s ease-out infinite;
}

@keyframes professionRotate {
    0%, 20% {
        transform: rotate(0deg);
    }
    25%, 45% {
        transform: rotate(-90deg);
    }
    50%, 70% {
        transform: rotate(-180deg);
    }
    75%, 95% {
        transform: rotate(-270deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.home .profession-box .profession {
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-color);
    transform: rotate(calc(360deg / 4 * var(--i)));
    transform-origin: 384px;
    background: var(--bg-color);
    padding: 13px 0;
}

.home .profession-box .profession:nth-child(1) i {
    margin-right: 15px;
}

.home .profession-box .profession:nth-child(2),
.home .profession-box .profession:nth-child(4) {
    padding-bottom: 20px;
}

.home .profession i {
    font-size: 3.8rem;
}

.home .profession h3 {
    font-size: 3.2rem;
    line-height: 1;
    font-weight: 600;
}

.home .profession-box .circle {
    width: 560px;
    height: 560px;
    border: 3px solid var(--main-color);
    border-radius: 50%;
}

.home .profession-container .overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-top: 384px solid var(--main-color);
    border-right: 384px solid var(--main-color);
    border-bottom: 414px solid var(--main-color);
    border-left: 384px solid transparent;
}

.home-img img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 370px; /* Adjust this value as needed */
    transform: translateY(-50%); /* Center the image vertically */
    right: 120px; /* Adjust this value as needed */
    height: 300px; /* Adjust this value as needed */
    border: 2px solid var(--main-color); /* Add a 2px border */
    box-shadow: 0 2rem .5rem var(--shadow-color);
    scroll-snap-align: start;
    border-radius: 50%;
    margin: 10px; /* Add a 10px gap */
    transition: transform 0.3s ease-in-out; /* Add a transition for a smooth effect */
}

.home-img img[data-sr-id="your-scrollreveal-id"] {
    transform: none !important;
}

.home-img img:hover {
    transform: scale(1.1) translateY(-50%); /* Adjust the scale factor for the desired zoom effect and maintain vertical centering */
}

span {
    font-family: SecondFont;
    color: var(--main-color);
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about-img img {
    width: 400px;
    border: 2px solid var(--main-color); /* Add a 2px border */
    box-shadow: 0 2rem .5rem var(--shadow-color);
    border-radius: 50%;
    margin: 10px; /* Add a 10px gap */
    transition: transform 0.3s ease-in-out;
}

.about-img img:hover {
    transform: scale(1.1); /* Adjust the scale factor for the desired zoom effect and maintain vertical centering */
}

.heading {
    font-size: 4.5rem;
    text-align: center;
}

.about-content h2 {
    font-family: SecondFont;
    text-align: left;
    line-height: 1.2;
    margin-left: 40px;
}

.about-content h3 {
    font-family: FirstFont;
    font-size: 2rem;
    margin-left: 40px;
}

.about-content p {
    font-family: ThirdFont;
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
    font-weight: 1000;
    margin-left: 40px;
}

.services {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: auto;
    padding-bottom: 7rem;
}

.services-box {
    height: 500px;
}

.services h2 {
    margin-bottom: 5rem;
}

.services .services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.services-container .services-box {
    flex: 1 1 30rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background: var(--bg-color);
    pad: 3rem 2rem 4rem;
    border-radius: 2rem;
    box-shadow: 0 0.5rem .5rem var(--shadow-color);
    text-align: center;
    border-top: .6rem solid var(--main-color);
    border-bottom: .6rem solid var(--main-color);
    transition: .5s ease;
}

.services-container .services-box:hover {
    box-shadow: 0 .1rem 3rem var(--shadow-color);
    transform: scale(1.02);
}

.services-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.services-box h3 {
    font-size: 2.6rem;
    transition: .5s ease;
}

.services-box:hover h3 {
    color: var(--main-color);
}

.services-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    text-align: left;
    margin-left: 15px;
    margin-right: 15px;
}

.portfolio {
    display: block;
    padding-bottom: 10rem;
    max-width: 1500px;
}

.portfolio h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.portfolio .portfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 4rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    display: flex;
    max-width: 400px;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
    overflow: hidden;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    opacity: 0;
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    opacity: 1;
}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.portfolio-layer a,
.portfolio-layer .new-button { /* Add the new-button class here */
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: var(--white-color);
    border-radius: 50%;
    
}

.portfolio-layer a i,
.portfolio-layer .new-button i { /* Add the new-button class here */
    font-size: 2rem;
    color: #333;
}


.testimonial-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 5rem 1rem;
}

.testimonial-container .testimonial-wrapper {
    position: relative;
    max-width: 90rem;
    width: 100%;
    padding: 5rem;
}

.testimonial-wrapper .testimonial-box {

    border-radius: 2rem;
    overflow: hidden;
}

.testimonial-content .testimonial-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: var(--bg-color);
    border-radius: 2rem;
    box-shadow: 0 .1rem .5rem var(--shadow-color);
    padding: 3rem 5rem;
    border-top: .8rem solid var(--main-color);
    border-bottom: .8rem solid var(--main-color);
}

.testimonial-slide img {
    width: 75rem;
    height: 55rem;
    object-fit: cover;
    border-radius: 10px;
}

.testimonial-box .swiper-button-next,
.testimonial-box .swiper-button-prev {
    color: var(--main-color);
}

.testimonial-box .swiper-button-next {
    right: 0;
}

.testimonial-box .swiper-button-prev {
    left: 0;
}

.testimonial-box .swiper-pagination-bullet {
    background: rgba(0, 0, 0, .8);
}

.testimonial-box .swiper-pagination-bullet-active {
    background: var(--main-color);
}

footer{
    position: relative;
    background: #1c1c1c;
    padding: 80px 50px 40px;
    margin-top: 100px;
}

footer .contact{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    background-color: var(--main-color);
    padding: 30px 25px;
    border-radius: 15px;
    width: 70%;
    top: -16%;
    left: 15%;
}

footer .contact p{
    font-size: 13px;
    width: 35%;
}

footer .contact button {
    background: transparent;
    border: 1px solid #000;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 100px;
    transition: all 0.3s ease;
}

footer .contact button:hover {
    background-color: #fff;
    border-color: #fff;
}

footer .cols {
    display: flex;
    align-items: start;
}

footer .cols .about-col{
    flex: 3;
}

footer .cols .about-col h3{
    color: var(--main-color);
    margin-bottom: 20px;
}

footer .cols .about-col p{
    color: #ccc;
    font-size: 13px;
}

footer .cols .links-col{
    flex: 3;
    margin-top: 20px;
}

footer .cols .links-col h4, footer .cols .news-col h4{
    color: #fff;
    margin-bottom: 15px;
}

footer .cols .links-col a{
    display: block;
    text-decoration: none;
    color: #7b7b7b;
    
    font-size: 14px;
    line-height: 26px;
    transition: color 0.3s ease;
}

footer .cols .links-col a:hover{
    color: var(--main-color);
}

footer .cols .news-col{
    flex: 3;
    margin-top: 18px;
}

footer .cols .news-col p{
    color: #7b7b7b;
    font-size: 13px;
}

footer .cols .news-col form{
    width: 100%;
    margin-top: 20px;
    position: relative;
}

footer .cols .news-col form input{
    width: 100%;
    background: #212529;
    border: none;
    padding: 13px;
    border-radius: 100px;
    font-weight: 400;
    font-size: 13px;
}

footer .cols .news-col form button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background: var(--main-color);
    border: none;
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

footer .cols .news-col form button:hover{
    background-color: var(--white-color);
}

footer .cols .news-col form button i{
    font-size: 26px;
}


footer .cols .news-col form input[type="email"] {
    color: white;
}


/* Scroll-top button styles */
.scroll-top {
    position: absolute;
    bottom: 115px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    width: 22px; /* Adjust the width as needed */
    height: 22px; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none; /* Remove the default link underline */
    box-shadow: var(--shadow-color);
}

.scroll-top:hover {
    background-color: #fff;
    color: var(--main-color);
}

/* Optional: Adjust the arrow icon styles */
.scroll-top i {
    font-size: 20px; /* Adjust the font size as needed */
}

/* breakpoints */


@media (max-width: 1200px) {
    html {
        font-size: 55%;
    }

    .home .profession-container {
        height: 88.8rem;
    }

    .home .profession-container .profession-box {
        right: -25rem;
        height: 85.8rem;
    }

    .home .profession-container .overlay {
        right: -9rem;
    }

    #footer {
        margin-top: 150px;
    }

    .home-img img {
        display: flex;
        right: 17px;
    }

}

@media (max-width: 1024px) {
    .header {
        padding: 2rem 3%;
    }

    #darkMode-icon {
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: white;
        margin-bottom: .1rem;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .home .profession-container .profession-box {
        right: -25rem;
    }

    .home .profession-container.overlay {
        right: -15rem;
    }

    .home-img img {
        display: none;
    }
}

@media (max-width: 991px) {

    #darkMode-icon {
        position: absolute;
        right: 7rem;
        font-size: 2.6rem;
        color: white;
        margin-bottom: .1rem;
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--main-color);
    }

    .navbar a.active::before {
        background: var(--main-color);
        opacity: .7;
    }

    .home .home-content {
        max-width: 50rem;
    }

    .home .profession-container .profession-box {
        right: -57rem;
    }

    .home .profession-container .overlay {
        right: -39.5rem;
    }

    .home-img img {
        display: none;
    }

    .services,
    .portfolio {
        padding-bottom: 7rem;
    }

    .contact {
        min-height: auto;
    }

    .footer {
        padding: 2rem 3%;
    }

}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    #darkMode-icon {
        position: absolute;
        right: 12rem;
        font-size: 2.6rem;
        color: var(--text-color);
        margin-bottom: .1rem;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--text-color);
    }

    .navbar a:nth-child(1),
    .navbar a:nth-child(2) {
        color: var(--text-color);
    }

    .navbar a.active {
        color: var(--main-color);
    }

    .navbar a::before {
        display: none;
    }

    .home {
        padding: 0 3% 23rem;
        justify-content: center;
        text-align: center;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 5rem;
    }

    .home-content .social-media a {
        margin: 2.5rem .75rem 3rem;
    }

    .home .profession-container {
        left: 0;
        width: 100%;
        height: 100%;
    }

    .home .profession-container .profession-box {
        position: fixed;
        top: 60%;
        left: 0;
        border-radius: 0;
        width: 100%;
    }

    .home .profession-box .profession {
        padding: 0 13px;
        left: auto;
        transform-origin: 0;
    }

    .home .profession-box .profession:nth-child(1) {
        transform: rotate(-90deg) translate(-120px, -210px);
    }

    .home .profession-box .profession:nth-child(1) i {
        margin-right: 0;
    }

    .home .profession-box .profession:nth-child(2) {
        transform: rotate(0deg) translate(0, -335px);
    }

    .home .profession-box .profession:nth-child(3) {
        transform: rotate(90deg) translate(-115px, -450px);
    }

    .home .profession-box .profession:nth-child(4) {
        transform: rotate(180deg) translate(-205px, -335px);
    }

    .home .profession-box .circle {
        position: fixed;
        width: 670px;
        height: 670px;
        z-index: -1;
    }

    .home .profession-container .overlay {
        position: fixed;
        top: 70rem;
        left: 50%;
        right: 0;
        transform: rotate(90deg) translate(-50%, 50%) scaleY(3);
        border-width: 23.9rem;
    }

    .about {
        flex-direction: column-reverse;
        text-align: center;
    }

    .about-content h2 {
        text-align: center;
        margin-bottom: 1rem;
    }

    .about-img img {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 50px;
        width: 60vw;
        margin-top: 1rem;
    }

    .services h2,
    .portfolio h2 {
        margin-bottom: 3rem;
    }

    .portfolio .portfolio-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .testimonial-container.testimonial-wrapper {
        padding: 2rem 0;
    }

    .testimonial-content .testimonial-slide {
        padding: 2rem 1rem;
    }

    .testimonial-box .swiper-button-next,
    .testimonial-box .swiper-button-prev {
        display: none;
    }

    .swiper-slide img {
        max-width: 100%; /* Ensure images don't exceed the width of their container */
        height: auto;
    }


}

@media (max-width: 617px) {
    .portfolio .portfolio-container {
      display: flex;
      flex-direction: column; /* Ensure a single column */
      justify-content: center; /* Center items horizontally */
      align-items: center; /* Center items vertically */
    }
  }

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    #darkMode-icon {
        right: 6rem;
    }

    .home {
        padding: 0 3% 30rem;
    }

    .about {
        flex-direction: column-reverse;
        text-align: center;
    }

    .home .profession-box .profession:nth-child(1) {
        transform: rotate(-90deg) translate(-110px, -220px);
    }

    .home .profession-box .profession:nth-child(2) {
        transform: rotate(0deg) translate(5px, -335px);
    }

    .home .profession-box .profession:nth-child(3) {
        transform: rotate(90deg) translate(-105px, -440px);
    }

    .home .profession-box .profession:nth-child(4) {
        transform: rotate(180deg) translate(-210px, -335px);
    }

    .contact form .input-box input {
        width: 100%;
    }
}


@media (max-width: 365px) {
    .about-img img {
        width: 90vw;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        text-align: center;
        margin-top: 2rem;
    }

    .about {
        flex-direction: column-reverse;
        text-align: center;
        margin-right: 10px;
    }


}

@media screen and (max-width: 768px) {
    #footer {
        padding: 40px 20px;
    }

    .cols {
        flex-direction: column;
        align-items: center;
    }

    .about-col, .links-col, .news-col {
        flex: 1;
        max-width: none;
        margin-right: 0;
        margin-bottom: 20px;
    }
}

@media (max-width: 1200px) {
    footer .cols .about-col,
    footer .cols .links-col,
    footer .cols .news-col {
        flex: 100%;
    }
}

@media (max-width: 768px) {
    footer {
        padding: 60px 30px 20px;
    }

    footer .contact {
        position: static;
        text-align: center;
        width: 100%;
    }

    footer .cols {
        flex-direction: column;
        align-items: flex-start; /* Shift to the left */
    }

    footer .cols .about-col,
    footer .cols .links-col,
    footer .cols .news-col {
        margin-top: 20px; /* Adjust as needed */
        width: 100%; /* Make each column full width */
    }

    footer .cols .about-col h3 {
        margin-bottom: 10px;
    }

}